 @media screen and (max-width: 767px) {
        .col-6 {
          width: 100% !important;
        }
        .btn-block {
          display: block !important;
          width: 100% !important;
        }
        .mb-3:not(:last-child) {
          margin-bottom: 15px !important;
        }
      }
    
@media (max-width: 767px) {
  .btn-block {
    display: block;
    width: 100%;
  }
  .btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn-container .btn {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .btn-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .btn-container .btn {
    flex: 1;
    margin-right: 5px;
  }
  .btn-container .btn:last-child {
    margin-right: 0;
  }
}

 @media (max-width: 767px) {
  .top-right-girl {
    display: none;
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:active {
    background-color: #d1d1d1;
    border-color: #d1d1d1;
  }

  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    background-color: #fff;
  }
}

 body.unauthorized .navbar.navbar-default.is-sticky {
            position: fixed;
            background-color: #fff;
            padding: 17px 0;
            z-index: 999;
            -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, .06);
            box-shadow: 0 2px 28px 0 rgba(0, 0, 0, .06);
            background-color: #fff !important;
            -webkit-animation: .5s ease-in-out 0s normal none 1 running fadeInDown;
            animation: .5s ease-in-out 0s normal none 1 running fadeInDown;
        }

        .float {
            position: fixed;
            width: 58px;
            height: 47px;
            bottom: 84px;
            right: 15px;
            background-color: #25d366;
            color: #FFF;
            border-radius: 50px;
            text-align: center;
            font-size: 30px;
            box-shadow: 2px 2px 3px #999;
            z-index: 100;
        }

        @media(max-width: 550px) {
            body.unauthorized .navbar.navbar-default {
                background-color: #fff;
                padding: 10px 0;
            }
            .unauthorized .navbar-brand {
                padding: 0 15px;
            }
            #top-bnr h1 {
                font-size: 25px;
            }
            #top-bnr .row.signinForm .row .col-sm-6 {
                width: 100%;
            }
            .top-right-girl img {
                right: 0;
            }
            .navbar-default .navbar-nav>li:last-child>a,
            .navbar-default .navbar-nav>li:nth-last-child(2)>a {
                font-size: 13px !important;
                padding: 10px 15px;
                margin: 0 15px;
            }
            .navbar-default .navbar-nav>li:last-child>a {
                margin: 10px 15px 0;
            }
            #stats {
                padding: 40px 0;
            }
            #stats .col-sm-4:not(:last-child) {
                margin-bottom: 20px;
            }
            #stats .col-sm-4 {
                width: 100%;
            }
            .stats-wrap {
                min-height: 310px;
                width: 100%;
                background-size: 100%;
                background-repeat: no-repeat;
            }
            .stats-desc h2 {
                font-size: 24px;
            }
            .stats-desc p {
                font-size: 14px;
            }
            .before-sec-title {
                font-size: 16px;
            }
            .sec-title {
                font-size: 24px;
            }
            .title-bottom-txt {
                padding: 0 15px 20px;
            }
            .work-top h3 {
                font-size: 30px;
                height: 60px;
                width: 60px;
                line-height: 60px;
                margin-top: 20px;
            }
            .work-top h4 {
                font-size: 14px;
            }
            .work-top h3::after {
                display: none;
            }
            .work-bottom p {
                font-size: 14px;
            }
            #chooseus {
                padding: 60px 0 0;
            }
            #social-slider .col-sm-12 {
                width: 100%;
            }
            .social-slider .left-arrow.slick-arrow {
                left: 0;
            }
            .social-slider .right-arrow.slick-arrow {
                right: 0;
            }
            #getstart {
                padding: 15px 0 30px;
            }
            #getstart h5 {
                font-size: 24px;
                color: #fff;
            }
            #getstart p {
                padding: 0;
            }
            #same-sec {
                padding: 0 0 40px;
            }
            #same-sec .sec-title {
                margin: 20px 0 10px;
            }
            #same-sec .row:nth-child(2) .same-img-wrap {
                margin: 40px 0 0;
            }
            #testimonial {
                padding: 50px 0;
            }
            #testimonial .col-sm-6 {
                width: 100%;
            }
            .testi-wrap {
                padding: 20px 0 15px;
            }
            .testi-title h4 span {
                font-size: 12px;
            }
            .testi-desc p {
                font-size: 14px;
            }
            .row.main-ftr .col-sm-4,
            .row.main-ftr .col-sm-2 {
                width: 100%;
            }
            footer .row:first-child .col-sm-6 {
                width: 100%;
            }
            .follow-us,
            .share {
                justify-content: center;
            }
            .home-logo {
                max-height: 60px;
            }
            .ftr-nav li a {
                word-break: break-all;
            }
            .bottom-ftr {
                height: auto;
                margin: 40px 0 0;
                text-align: center;
            }
            .bottom-ftr .col-sm-6 {
                width: 100%;
            }
            .bottom-ftr ul {
                text-align: center;
                padding: 0;
            }
            .bottom-ftr ul li {
                margin: 0 10px;
            }
        }

        @keyframes fadeInDown {
            from {
                opacity: 0;
                transform: translate3d(0, -100%, 0);
            }
        }

    
    #top-bnr {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
              }
